<!DOCTYPE html>
<html>
<head>
  <title>Refrigerator</title>
  <%- include('../partials/head') %>
</head>
<body>

    <div class="container">
                <span class="navbar-toggle" id="js-navbar-toggle">
                        <i class="fa fa-bars"></i>
                </span>
            <div class="navigation-bar">
                <ul class="main-navigation" id="js-navigation">
                    <li><a href="/views/index.ejs">Home</a></li>
                    <li><a href="/views/pages/searches/inventory.ejs">Your Refrigerator</a></li>
                    <li><a href="/views/pages/searches/shop.ejs">Shop For More Food</a></li>
                    <li><a href="/views/aboutus.ejs">About Us</a></li>
                    <li></li>
                </ul>
    </div>
    <div class="inventory-banner">
        <h1>Your Refrigerator</h1>
    </div>
    <div class="inventory-button">
        <form action="add" method="post" oninput="x.value=parseInt(quantity.value/10)">
            <input list="product-list" name=product>
            <datalist id="product-list">
                <option value="egg">
                <option value="banana">
                <option value="fish">
                <option value="marionberry">
                <option value="lemon">
                <option value="red wine">
                <option value="blueberries">
            </datalist>
                1
                <input type="range" name="quantity" id="quantity" value="1">
                10
                <br><br>
                <output name="x" for="a"></output>
                <button type="submit" placeholder="Add To My Refrigerator"></button> 
            <!-- <button class="landingPageButton"><a href="/pages/searches/shop">Let's Cook!</a></button> -->
        </form>

        <button class="landingPageButton"><a href="/pages/searches/shop">Let's Cook!</a></button>

        <div class="footer"><p>CopyRight2018</p></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

</body>
</html>