<!DOCTYPE html>
<html>
<head>
  <title>Refrigerator</title>
  <%- include('../partials/head') %>
</head>
<body>
  <header>
    <h1>Your Refrigerator</h1>
  </header>

  <main>
    <nav class="sidenav">
      <ul><a href="/views/index.ejs">Home</a></ul>
      <ul><a href="/views/pages/searches/shop.ejs">Shop For More Food</a></ul>
      <ul><a href="/views/aboutus.ejs">About Us</a></ul>
    </nav>
    
    <!-- ADD ITEM TO YOUR REFRIGERATOR -->
    <ul>
            <form action="add" method="post">
                <input type="text" name="food" placeholder="Food" required>
                <input type="text" name="quantity" placeholder="Quantity by grams" required>
                <button type="submit">Add To My Refrigerator</button>
            </form>
        </ul>

    <!-- LIST EACH ITEM IN THE INVENTORY DATABASE -->
    <ul>
        <% inventory.forEach( item => { %>
            <h2><%=inventory.name %></h2>
            <p>Quantity: <%=inventory.quantity %></p>
        <% }) %>
    </ul>

    <!-- SEARCH FOR NEW RECIPES -->
    <form action="search" method="post">
        <input type="hidden" value="search">
        <button type="submit">Search For Recipes</button>
    </form>

    <!-- NAVIGATE TO SHOPPING PAGE -->
    <a href="/pages/searches/shop">Shop To Add More Food</a>


  </main>
</body>
<footer>
    <p>CopyRight2018</p>
</footer>
</html>