<!DOCTYPE html>
<html>
<head>
  <title>Refrigerator</title>
  <%- include('../partials/head') %>
</head>
<body>

    <div class="container">
                <span class="navbar-toggle" id="js-navbar-toggle">
                        <i class="fa fa-bars"></i>
                </span>
            <div class="navigation-bar">
                <ul class="main-navigation" id="js-navigation">
                    <li><a href="/views/index.ejs">Home</a></li>
                    <li><a href="/views/pages/searches/inventory.ejs">Your Refrigerator</a></li>
                    <li><a href="/views/aboutus.ejs">About Us</a></li>
                    <li></li>
                </ul>
    </div>
    <div class="inventory-banner">
        <h1>Your Refrigerator</h1>
    </div>
    <div class="inventory-button">
        <form action="add" method="post" oninput="x.value=parseInt(quantity.value/10)">
            <fieldset>
                <label>
                    <span>Ingredient</span>
                    <input type="text" name="search" value="user-query" placeholder="Enter Ingredient" required>
                </label>
        </fieldset>
            <button type="submit">Add To My Refrigerator</button> 
        </form>

    <!-- LIST EACH ITEM IN THE INVENTORY DATABASE -->
    <ul>
        <% inventory.forEach( item => { %>
            <h2><%=inventory.name %></h2>
            <p>Quantity: <%=inventory.quantity %></p>
        <% }) %>
    </ul>

    <!-- SEARCH FOR NEW RECIPES -->
    <form action="search" method="post">
        <input type="hidden" value="search">
        <button type="submit">Search For Recipes</button>
    </form>



    <div class="footer"><p>CopyRight2018</p></div>
    
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

</body>
</html>



