<!DOCTYPE html>
<html>
<head>
  <title>Refrigerator</title>
  <%- include('../partials/head') %>
</head>
<body>
  <header>
    <h1>Your Refrigerator</h1>
  </header>

  <main>
    <nav class="sidenav">
      <ul><a href="/pages/searches/new">Search New Recipe</a></ul>
      <ul><a href="aboutus">Search New Recipe</a></ul>
    </nav>
    
    <a href="/views/index.ejs"><p>Back To Home</p>></a>
    <a href="/pages/searches/new"><p>Create Recipe</p>></a>


  </main>
</body>
<footer>
    <p>CopyRight2018</p>
</footer>
</html>