<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <%- include('../partials/head') %>
</head>
<body>
  <header>
    <h1>About Us</h1>
  </header>

  <main>
    <nav class="sidenav">
      <ul><a href="/views/index.ejs">Home</a></ul>
      <ul><a href="/views/pages/searches/inventory.ejs">Your Refrigerator</a></ul>
      <ul><a href="/views/pages/searches/shop.ejs">Shop For More Food</a></ul>
      <ul><a href="/views/pages/searches/Recipe.ejs">Recipe</a></ul>
    </nav>


    <div>
        <h2> Dave Muench </h2>
        <p> (pitch) </p>
        <img src="" alt="">
    </div>

    <div>
        <h2> Derrick Hwang </h2>
        <p> (pitch) </p>
        <img src="" alt="">
    </div>

    <div>
        <h2> Joyce Liao </h2>
        <p> (pitch) </p>
            <img src="" alt="">
    </div>

    <div>
        <h2> Zahra Mohamed </h2>
        <p> (pitch) </p>
        <img src="" alt="">
    </div>


  </main>
</body>
<footer>
    <p>CopyRight2018</p>
</footer>
</html>