<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <%- include('../partials/head') %>
</head>
<body>
  <header>
    <h1>Gotta Eat! Home</h1>

  </header>


  <main>
    <nav class="sidenav">
      <ul><a href="/pages/searches/inventory">Your Refrigerator</a></ul>
      <ul><a href="/pages/searches/shop">Shop For More Food</a></ul>
      <ul><a href="aboutus">About Us</a></ul>
    </nav>
    
    <a href="/pages/searches/inventory">See Your Refrigerator</a>
    <a href="/pages/searches/shop">Shop For More Food</a>


  </main>
</body>
<footer>
    <p>CopyRight2018</p>
</footer>
</html>