<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <%- include('../partials/head') %>
</head>
<body>
  
    <div class="container">
				<span class="navbar-toggle" id="js-navbar-toggle">
						<i class="fa fa-bars"></i>
				</span>
			<div class="navigation-bar">
				<ul class="main-navigation" id="js-navigation">
					<li><a href="/views/index.ejs">Home</a></li>
					<li><a href="/views/pages/searches/inventory.ejs">Your Refrigerator</a></li>
					<li><a href="/views/aboutus.ejs">About Us</a></li>
					<li></li>
				</ul>
			</div>
			<div class="main-banner">
					<h1>Gotta Eat! Home</h1>
			</div>

			<div class="main-button">
				<button class="landingPageButton"><a href="/views/pages/searches/inventory.ejs">See Your Refrigerator</a></button>
				<button class="landingPageButton" action="search" method="post">Search For Recipe</button>
			</div>





			<div class="footer">
				<p>CopyRight2018</p>
			</div>
    </div>

		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>