/*

* Navigation Bar

*/

.navigation-bar{
    background-color: #333;
    top: 10px;
}

.navigation-bar li{
    text-align: center;
    margin: 15px auto;
}

.navigation-bar a{
    float: left; 
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}

.navbar-toggle{
    position: absolute;
    top: 10px;

    right: 20px;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.main-navigation{
    list-style-type: none;
    display: none;
}

.active{
    display:block;
}

/* 

* Banner Section

*/

.main-banner> h1 {
    color: rgb(208, 227, 231);
}

.main-banner {
    background-image: url(image/refrigerator.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.inventory-banner {
    background-image: url(image/open-refrige.png);
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.4)
}
.recipe-banner {
  background-image: url(image/refrige-open.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.inventory-banner > h1{
  /* opacity: 1;
  color: black;
  z-index: 100;
  display: block; */
}


.inventory-banner> h1{
  color: black;
}


.main-button a{
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px white;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 20vw;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 24px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 24px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 12px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.12px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.12px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 24px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }
/* .landingPageButton {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 40px;
    font-size: 20px;
    font-family: PT Sans Narrow;
    text-shadow: 2px 10px black;
} */

.footer{
        background-color: #333;
        top: 10px;
}



#popup {
  background: rgba(100, 100, 100, 0.6);
  position: fixed;
  display: none;
  z-index: 5000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
#popup > form{
  border-radius: 10px;
  position: fixed;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px 0px rgba(#000000, 0.3);
  padding: 30px 15px;
  /* Width of popup can be changed */
  width: 70%;
  max-width: 600px;
  z-index: 5001;
  text-align: center;
  border: 5px solid #9AD3DE;
}

